  graph [
    forcelabels=true;
    bgcolor = white,
    fontsize = 20,
    style = "filled",
    rankdir = LR,
    overlap = false;
    splines = true,
    ranksep = 0.7,
    nodesep = 0.35,
  ];
  
  node [
    style = "solid,bold,filled",
    fontsize = 20,
    shape=circle,
    fontname = "Arial",
    color = "#2f528f",
    fillcolor=white,
  ];
  
  edge [
    style = "solid,bold",
    fontsize = 14,
    fontcolor = black,
    fontname = "Arial",
    color = "#c3cbcf",
    labelfloat = false,
    labeldistance = 0.5,
    labelangle = 90
    arrowhead = normal
  ];
  
